/*General layout for website*/
html {
    background-color: rgb(165, 196, 211);
}

body {
    margin: auto;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 10px;
    margin: 15px;
}

header a {
    color: rgb(105, 71, 52);
    text-decoration: none;
    font-size: 2em;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: none;
}

nav {
    overflow: auto;
    background-color: rgb(107, 86, 74);
}

nav a {
    color: rgb(233, 224, 218);
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 10px;
}

a:hover {
    background-color: rgb(165, 196, 211);
}

div {
    color: rgb(206, 96, 33);
    margin: 5px;
}