/*General layout for website*/
html {
    background-color: rgb(222, 170, 135);
}

body {
    margin: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 10px;
    margin: 20px;
    font-size: 1.8em;
    color: rgb(105, 71, 52);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav {
    overflow: auto;
    background-color: rgb(107, 86, 74);
}

nav a {
    color: rgb(233, 224, 218);
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 10px;
}

div {
    color: rgb(179, 151, 126);
    margin: 10px;
}
