/*General layout for website*/
html {
    background-color: rgb(165, 196, 211);
}

body {
    margin: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 10px;
    margin: 15px;
}

header a {
    color: #496597;
    text-decoration: none;
    font-size: 2em;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: none;
}

nav {
    overflow: auto;
    background-color: #496597;
    width: 100%;
}

nav a {
    color: rgb(233, 224, 218);
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 10px;
}

a:hover {
    background-color: rgb(165, 196, 211);
}

div {
    color:#4a4997;
}
